.custom{
    padding:0;
    margin:0;
    
}
.CreateBuildingContainer{
    height: calc( 100vh - 50px );
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BuildingFloor{
    position: relative;
    margin: 5vh 0;
    width: 80vw;
    min-height: 35vh;
    background: #e0e0e0;
    -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
            animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    
}
.BuildingFloor:hover{
    background: #a8a8a8;
}
.LevelCounter{
    position: absolute;
    top:0;
    right: 0;
    font-size: 20vh;
    color:rgba(91, 92, 99, 0.8);
    z-index: 99;

}
.LevelCounterParagraph{
    position: absolute;
    bottom:0;
    right: 0;
    font-size: 5vh;
    color:rgba(91, 92, 99, 0.8);
    z-index: 99;
}
.right-button{
    position: absolute;
    bottom:10px;
    right: -75px;
}
.selectfield{
    width: 100% !important;
}
.padding20{
    padding: 10px;
}
.LevelCounterRoom{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 8vh;
    color:rgba(242, 243, 247, 0.9);
}
.LevelCounterRoomType{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 3vh;
    color:rgba(242, 243, 247, 0.9);
}
.BuildingRoom{
    position: relative;
    width:15vw;
    height: 15vh;
    margin:0.5vh 0.5vw;
    background: #4765f7;
    -webkit-animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.appbar{
    flex-direction: row !important;
    justify-content: space-between;
}
@-webkit-keyframes shadow-pop-tl {
    0% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tl {
    0% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: -1px -1px #3e3e3e, -2px -2px #3e3e3e, -3px -3px #3e3e3e, -4px -4px #3e3e3e, -5px -5px #3e3e3e, -6px -6px #3e3e3e, -7px -7px #3e3e3e, -8px -8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(8px);
              transform: translateX(8px) translateY(8px);
    }
  }
@-webkit-keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  .loginButton{
      margin:5px 10px !important;
  }

